.formcontainer {
  margin: 0 auto;
  width: 400px;
}
.formcontainer h2 {
  margin-top: 15px;
  text-align: center;
}

.form {
  margin-top: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.formControl {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.formLabel {
  font-size: 1em;
  margin-bottom: 3px;
}

.formInput {
  margin-bottom: 5px;
  width: 300px;
  font-size: 1em;
  color: #555;
}

.formMessage {
  text-align: center;
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 3px 0px 0px 3px;
  background-color: #f8f8f8;
}

.btnSubmit {
  display: inline-block;
  border: 0;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1em;
  text-decoration: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  width: fit-content;
  color: #fff;
}
